html,
body {
  width: 100%;
  height: 100%;
  background-color: #fefafa;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.widgets--widget-label {
  line-height: normal;
}
.container {
  width: 100%;
  height: 710px;
  position: relative;
}
/*header*/
#header {
  width: 98.6%;
  height: 7%;
  display: flex;
  align-items: center;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding-left: 20px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

#menu-icon::before {
  content: "\2261";
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.menu-item {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease-in-out;
}

.menu-item:hover {
  background-color: #f0f0f0;
}

.menu-item.active {
  font-weight: bold;
  background-color: #e0e0e0;
  color: black;
}

.user-menu {
  display: flex;
  flex-direction: column;
}

.logout-button {
  background-color: #e74c3c;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.logout-button:hover {
  background-color: #c0392b;
}
/*end*/
/*info*/
#info {
  width: 16%;
  height: 90%;
  float: left;
  padding: 10px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.user-avatar img {
  width: 128px;
  height: 128px;
  background-color: #3498db;
  border-radius: 50%;
  margin-right: 20px;
}

.user-details {
  flex-grow: 1;
}

.user-name {
  font-size: 18px;
}

.user-email {
  color: #888;
}

.user-distance {
  font-size: 14px;
  color: #555;
}

/* Thêm CSS cho menu lựa chọn */
.user-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item {
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
}

.menu-item.active {
  font-weight: bold;
}
/*end*/
#gauge {
  width: 82%;
  height: 28%;
  float: left;
  display: flex;
}
#gauge1,
#gauge2,
#gauge3,
#gauge4 
{
  width: 26.26%;
  min-width: 200px;
  height: 100%;
  float: left;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  
}

.widgets--widget {
  display: flex;
  flex-direction: column;
  padding: 12px;
  position: relative;
}
.widgets--widget,
.widgets--widget-editable {
  background: var(--color-bg-secondary);
  border-radius: 5px;
  box-shadow: 0 0 10px 0 var(--color-shadow);
}
.ant-layout * {
  box-sizing: border-box;
}
.gauge-widget,
.gauge-widget .gauge {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.widgets--widget-limited-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.widgets--widget-label {
  align-items: center;
  display: flex;
  flex-basis: 26px;
  font-family: var(--secondary-font), "Ubuntu", "Roboto", "Helvetica_Nueu",
    sans-serif;
  font-size: 18px;
  font-weight: 400;
  justify-content: space-between;
  margin-bottom: 4px;
  min-height: 26px;
  position: static;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.gauge-widget-content {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-grow: 1;
  height: calc(100%-48px);
  justify-content: center;
}
.gauge-widget .gauge {
  align-items: center;
  font-family: var(--widget-values-font), var(--secondary-font), "Ubuntu",
    "Roboto", "Helvetica_Neue", sans-serif;
  justify-content: center;
  position: relative;
}
.gauge-widget .gauge .ant-progress {
  height: calc(100% -27px) !important;
}
.ant-progress {
  font-feature-settings: "trum";
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.65);
  display: inline-block;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.gauge-widget .gauge .ant-progress-inner {
  border: none;
  height: 100% !important;
  overflow: visible;
  position: static;
  width: 100% !important;
  display: flex;
  justify-content: space-around;
}
.ant-progress-circle .ant-progress-inner {
  background-color: transparent;
  line-height: 1;
  position: relative;
}
.ant-progress-inner {
  background-color: var(--color-black-03);
  border: 1px solid var(--color-black-05);
}
.ant-progress-inner {
  background-color: var(--color-black-02);
  border-radius: 100px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  width: 100%;
}
.gauge-widget .gauge .ant-progress-inner .ant-progress-circle {
  height: 120%;
  width: 50% !important;
  position: relative;
}
.ant-progress-circle .ant-progress-text {
  color: rgba(0, 0, 0.65);
  font-size: 1.3em;
  left: 56%;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: normal;
  width: 100%;
}
.ant-progress-text {
  color: var(--color-black-08);
}
.ant-progress-text {
  color: rgba(0, 0, 0, 0.65);
  display: inline-block;
  font-size: 1em;
  line-height: 8px;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  width: 2em;
  word-break: normal;
}
.gauge-widget .gauge-label {
  color: var(--color-black-08);
  margin: 0;
}
.gauge-widget .gauge-range-info {
  align-items: center;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  position: absolute;
  bottom: 5%;
}
.gauge-widget .gauge-max,
.gauge-widget .gauge-min {
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gauge-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #e0e0e0;
  transition: background-color 0.3s ease;
}
.Nhiệtđộ-gradient {
  stroke: url(#temperatureGradient);
}
.Độẩm-gradient{
  stroke: url(#humidityGradient);
}
.Ánhsáng-gradient{
  stroke: url(#lightGradient);
}
.Độbụi-gradient{
  stroke: url(#dustGradient);
}
/*end*/
/*chart*/
#chart {
  width: 54.6%;
  height: 455px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#chartComponent {
  margin-top: 30px;
  margin-left: 0px;
}
/*end*/
/*led*/
#led1,
#led2 {
  width: 27.4%;
   min-width: 200px;
  height: 227px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  float: left;
}
/*end*/
/*legen-box*/
.legend {
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}

.legend-box {
  display: inline-block;
  width: 40px;
  height: 15px;
  margin-right: 10px;
}

.legend-text {
  display: inline-block;
  margin-right: 50px;
}
/*end*/
